    
    html {
      font-family: sans-serif;
      font-weight: 800;
    }
    
     
    p {
      padding-top: 1.5em;
      padding-left: 1em;
      padding-right: 1em;
      font-size: 16px;
    }

    .container .row {
      background-color: #CAC5C5;
    }

    #header-nav {
      background-color: #CAC5C5;
      border-radius: 0;
      border: 0;
    }

    .navbar-brand a:hover, .navbar-brand a:focus {
      text-decoration: none;
    }

    .navbar-brand h1 {
      font-family: sans-serif;
      color: black;
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
      line-height: .75;

    }

/*    #nav-list {
  margin-top: 10px;
}*/
#nav-list a {
  color: black;
  background-color: white;
  text-align: center;
  font-size: 1.3em
}
#nav-list a:hover, #nav-list a:focus {
  background-color: #CAC5C5;
}

.divider {
  background-color: black;
  height: 2px;
}

ul.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}

h3 { 
font-weight: bold;
 }